.player-menu-container{
  padding: 10px;
  width: 400px;
  height: 560px;
  border: solid #5B6DCD 10px;
}

.event-details{
  min-height: 200px;
  border: solid #5B6DCD 1px;
}

.enemy-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.enemy-details-status{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
}

.character-details{
  min-height: 170px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.character-details-profile-health{
  display: flex;
  flex-direction: column;
}

.player-interactions-container{
  min-height: 100px;
}

.explored-field-image{
  max-width: 70px;
  max-height: 70px;
}

.enemy-image{
  max-width: 70px;
  max-height: 70px;
  margin-top: 20px;
}


