.player-menu-container{
  padding: 10px;
  width: 400px;
  height: 560px;
  border: solid #5B6DCD 10px;
}

.event-details{
  min-height: 200px;
  border: solid #5B6DCD 1px;
}

.floor-details, .enemy-details, .item-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.floor-image{
  max-width: 150px;
  max-height: 150px;
}


.enemy-details-status{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
}

.item-image {
  max-width: 150px;
  max-height: 150px;
  margin-top: 20px;
}

.character-details{
  min-height: 170px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.character-details-profile-health{
  display: flex;
  flex-direction: column;
}

.player-interactions-container{
  min-height: 100px;
  position: relative;
}

.bag-container{
  border: solid 1px black;
  max-height: 160px;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
}

.explored-field-image{
  max-width: 70px;
  max-height: 70px;
}

.enemy-image{
  max-width: 70px;
  max-height: 70px;
  margin-top: 20px;
}

.bag-image{
  max-width: 30px;
  max-height: 30px;
}

.bag-button {
  position: absolute;
  bottom:0;
  left:0;
}


