.grid-container{
  display: grid;
  max-width: 70px;
  min-height: 70px;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
}

.unexplored-field-image{
  max-width: 70px;
  min-height: 70px;
}

.explored-field-image{
  max-width: 70px;
  min-height: 70px;
}

.crawler-container{
  border: solid #5B6DCD 10px;
  width: 560px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
