.image-container{
  width:100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container{
  display: flex;
  align-items: center;
}

img{
  max-height: 100%;
  max-width: 100%;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu a{
  font-size: 1.5rem;
  padding-right: 1.5rem;
  text-decoration: none;
}

div{
  font-size: 2rem;
}

.burger-menu{
  background-color: inherit;
  border: none;
  display: none;
}

.burger-container{
  display: none;
}

/*Mobile Version*/
@media all and (max-width: 768px) {
  .menu{
    display: none;
  }
  .burger-menu{
    display: block;
  }

  .burger-container{
    display: block;
  }

  .burger-dropdown{
    height: 100vh;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 2%;
  }

  .burger-dropdown-content{
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .burger-dropdown-content a{
    padding-top: 1rem;
  }

  .material-icons{
    font-size: 3rem;
    padding-left: 12rem;
  }
}
