<nav class="navbar">
  <div class="logo-container">
    <div class="image-container">
      <img src="assets/logo.png"/>
    </div>
    <div>Twice Penguin</div>
  </div>
  <div class="menu">
    <a routerLink="">Home</a>
    <a routerLink="/fourwins">Four Wins</a>
    <a routerLink="/dungeoncralwer">Dungeon Crawler</a>
  </div>
  <div class="burger-container">
    <button class="burger-menu" (click)="toggle()" *ngIf="isHidden">
      <img src="assets/burgerMenu.svg"/>
    </button>
    <div class="burger-dropdown" *ngIf="!isHidden">
      <div class="burger-dropdown-content">
        <i class="material-icons" (click)="toggle()">close</i>
        <a routerLink="">Home</a>
        <a routerLink="/fourwins">Four Wins</a>
        <a routerLink="/dungeoncralwer">Dungeon Crawler</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
