<nav class="navbar">
  <div class="logo-container">
    <div class="image-container">
      <img src="assets/logo.png"/>
    </div>
    <div>Twice Penguin</div>
  </div>
  <div class="menu">
    <a routerLink="">Home</a>
    <a routerLink="/fourwins">Four Wins</a>
    <a routerLink="/dungeoncralwer">Dungeon Crawler</a>
  </div>
  <div>
    <button class="burgerMenu" (click)="toggle()" *ngIf="isHidden">
      <img src="assets/burgerMenu.svg"/>
    </button>
    <div class="burgerDropDown" *ngIf="!isHidden">
      
      <a routerLink="">Home</a>
      <a routerLink="/fourwins">Four Wins</a>
      <a routerLink="/dungeoncralwer">Dungeon Crawler</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
